{% extends "base.html" %}
{% load static %}


{% block head %}{{ block.super }}

<title>{{ town_slot.feature }} - Profit</title>

{% endblock head %}


{% block content %}

<img style="float:right;" src="{{ town_slot.illustration.image.url }}" alt="{{ town_slot.name }}" />

<h1>{{ town_slot.feature }}</h1>

{% if user.is_active and user.is_staff %}
<p>We are running something here !</p>
<p>{{ current_runs }}</p>
<!-- Return to meadow code start -->
	<div>
		<div class="anchor"></div>
		<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name="run" value="run"> <!-- activates the runmill -->
			<input type="hidden" name="development_run" value="1"> <!-- pk of meadow -->
			<input type="submit" class="action build" value="&#xe606; Downgrade to Meadow">
		</form>
	</div>
<!-- Return to meadow code end -->
{% endif %}

<!-- Runmill Starts -->

<!-- Runmill Ends -->

{% if town_slot.owner == None %}
	<p>This area of land belongs to the King.</p>
{% elif town_slot.owner.user == user %}
	<p>This area of land belongs to you.</p>
{% else %}
	<p>This area of land is currently owned by {{ town_slot.owner }}</p>
{% endif %}


{% if town_slot.on_sale == None and town_slot.owner != None and town_slot.owner.user != user %}
	<p>It is not currently for sale</p>
	{% endif %}

{% if town_slot.owner.user == user and town_slot.on_sale == None %}
	<form method="POST" action="">{% csrf_token %}
		<input type="hidden" name="sell-slot" value="sell">
		<input type="submit" class="button" value="Sell {{ town_slot.feature }}">
	</form>
	{% endif %}



{% if town_slot.on_sale != None or town_slot.owner == None %}
<section class="for-sale">

<h2>This land is for sale !</h2>

{% if town_slot.owner == None and town_slot.on_sale == None %}
	<p>You may request an auction to purchase it by placing the first bid.</p>
	{% endif %}

{% if town_slot.owner == None and town_slot.feature.min_price %}
	<p>His majesty's accountant has set a minimum selling price of <span class="cash">{{ town_slot.feature.min_price }}</span>.</p>
	{% endif %}

{% if town_slot.on_sale != None %}
<p>The auction will end in {{ town_slot.on_sale|timeuntil }}.</p>
	{% endif %}

	{% if bid != None %}
		<p>You have already placed a bid of <span class="cash">{{ bid.amount }}</span>.

	{% elif town_slot.owner.user == user %}
		<p>You can't bid on your own slot.</p>
		
	{% else %}
		<form method="post" action="" enctype="multipart/form-data">
			<p>{% csrf_token %}
				<input type="number" name="bid" step="1" value="0"/>
				<input class="button" type="submit" name="submit" value="Bid" />
			</p>
		</form>
	{% endif %}

</section>
{% endif %}<!-- for sale -->


{% if town_slot.owner.user == user and town_slot.on_sale == None %}
{% if available_runs.production_runs != None or available_runs.service_runs != None or available_runs.boost_runs != None and town_slot.owner.user == user %}
<section class="tasks">

<h2>Available Tasks</h2>

{% for production_run in available_runs.production_runs %}
<input class="hidden" name="" type="checkbox"/>
<label class="run" for=""><img src="{{ production_run.illustration.image.url }}"/></label>
<div></div>
{% endfor %}

{% for service_run in available_runs.service_runs %}
<input class="hidden" name="" type="checkbox"/>
<label class="run" for=""><img src="{{ service_run.illustration.image.url }}"/></label>
{% endfor %}

{% for boost_run in available_runs.boost_runs %}
<input class="hidden" name="" type="checkbox"/>
<label class="run" for=""><img src="{{ boost_run.illustration.image.url }}"/></label>
{% endfor %}

</section>
{% endif %}<!-- tasks -->

{% if available_runs.development_runs != None or available_runs.upgrade_runs != None %}
<section class="upgrades">

<h2>Upgrades & Developments</h2>

{% for development_run in available_runs.development_runs %}
<input class="hidden" id="dev-{{forloop.counter}}" type="checkbox"/>
<label class="run" for="dev-{{forloop.counter}}">{{ development_run.becomes.name }}
	<div>
		<img src="{{ development_run.becomes.base_illustration.image.url }}" style="float: right;"/>
		<p>{{ development_run.becomes.description }}</p>
		<p class="requirements">Requires : 
			<span>{{ development_run.required_amount_of_workers }} workers</span>
			{% for required_material in development_run.developmentprojectrequiredmaterial_set.all %}
			<span>{{ required_material.quantity }} {{ required_material.item|lower }}</span>
			{% endfor %}
		</p>
		<div class="anchor"></div>
		<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name="run" value="run"> <!-- activates the runmill -->
			<input type="hidden" name="development_run" value="{{ development_run.becomes.pk }}"> <!-- what kind of run, what target ? -->
			<input type="submit" class="action build" value="&#xe606; Build {{ development_run.becomes.name }}">
		</form>
	</div>
</label>
{% endfor %}

{% for upgrade_run in available_runs.upgrade_runs %}
<input class="hidden" name="" type="checkbox"/>
<label class="run" for=""><img src="{{ upgrade_run.illustration.image.url }}"/></label>
{% endfor %}

</section>
{% endif %}<!-- upgrades -->
{% endif %}<!-- user = owner -->


<section style="text-align: right;">

<a class="important button" style="margin-top: 1.5em;" href="{% url 'town_map' town_slot.town.slug %}">&#xf171;&nbsp;&nbsp; Return to {{ town_slot.town.name }}</a>

</section>

{% endblock content %}