{% extends "base.html" %}
{% load static %}


{% block head %}{{ block.super }}

<title>{{ town_slot.feature }} - Profit</title>

{% endblock head %}


{% block content %}

<img style="float:right;" src="{% get_static_prefix %}images/slot.png" alt="{{ town_slot.name }}" />

<h1>{{ town_slot.feature }}</h1>

{% if town_slot.owner == None %}
<p>This area of land belongs to the King.</p>
<p>His majesty's accountant has set a minimum selling price of <span class="cash">42</span>.</p>
{% else %}
<p>This area of land is currently owned by {{ town_slot.owner }}</p>
{% endif %}

{% comment %}
{% if town_slot.is_for_sale %}
<p>This slot is for sale.</p>
{% endif %}
{% endcomment %}

<section class="for-sale">

<p>You can <strong>purchase</strong> this land by participating in the auction :</p>

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="number" name="bid" step="1" value="10"/>
	<input class="inline button" type="submit" name="submit" value="Bid" />
</form>

</section>

<section style="text-align: right;">

<a class="important button" href="{% url 'town_map' town_slot.town.slug %}">Return to {{ town_slot.town.name }}</a>

</section>

{% endblock content %}