{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>Towns</title>

{% endblock head %}


{% block content %}

{% if open_towns %}
    <p>These towns are currently available for you to settle :</p><br><br>
	<table class="big horizontal">
	{% for town in open_towns %}
        <tr>
			<td>{{ town.name }}</td>
			<td>{{ town.population }} <span class="symbol">&#xe602;</span></td>
            <td>Founded {{ town.founded | timesince }} ago</td>
            <td>
                <form method="POST" action="/town/create_player/">{% csrf_token %}
                <input type="hidden" class="small button" name="town_to_join" value="{{ town.slug }}">
                <input type="submit" class="small button" value="→">
                </form>
            </td>
		</tr>
        <tr><td></td></tr>
	{% endfor %}
	</table>
{% else %}
	<p>Unfortunately, no town is currently available. Please come back later.</p>
{% endif %}
	
{% endblock content %}

