{% extends "meta.html" %}
{% load static %}

{% block head %}

<title>Map</title>


<!-- Prevents autozoom on mobile devices -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> 

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/town.css" media="screen" />

<!-- Script to enable drag and scroll -->
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/jquery-1.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/scrollsync.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/dragscrollable.js"></script>
<script type="text/javascript">
	$(function() {
	// Set drag scroll on first descendant of class dragger on both selected elements
	$('#viewport').
		dragscrollable({dragSelector: '.dragger:first', acceptPropagatedEvent: false});
	});
</script>

<!-- Script to add the #town-center id to URL -->
<script type="text/javascript">
location.hash = 'town-center';
</script>

<!-- Script to make my image maps responsive, even when in and out -->
<script type="text/javascript" src="{% get_static_prefix %}modules/responsive-image-maps/jquery.rwdImageMaps.min.js">
$('img[usemap]').rwdImageMaps();
</script>


{% endblock head %}


{% block content %}



<!-- Touch / Mouse toggle buttons ! -->

<input name="touch-mouse-toggle" id="touch" type="radio"/>
<label for="touch">Mobile</label>

<input name="touch-mouse-toggle" id="mouse" type="radio"/>
<label for="mouse">Desktop</label>



<div id="viewport">

	<!-- Zoom buttons ! -->
	<!-- Include a reset to town-center -->

	<input name="zoom" id="zoomed-1x" type="radio" checked="checked"
	onclick='window.location.assign("#town-center")'/>
	<label for="zoomed-1x"></label>

	<input name="zoom" id="zoomed-2x" type="radio"
	onclick='window.location.assign("#town-center")'/>
	<label for="zoomed-2x"></label>

	<input name="zoom" id="zoomed-3x" type="radio"
	onclick='window.location.assign("#town-center")'/>
	<label for="zoomed-3x"></label>

	<input name="zoom" id="zoomed-4x" type="radio"
	onclick='window.location.assign("#town-center")'/>
	<label for="zoomed-4x"></label>

	<div class="dummy-zoom foundation-symbol" style="left: 2vw;"><span>&#xf219;</span></div>
	<div class="dummy-zoom foundation-symbol" style="left: calc(2vw + 4em);"><span>&#xf21a;</span></div>



	<div class="fixed-container">

		<!-- Menu button -->
		<input class="hidden" name="menu" id="menu" type="checkbox"/>
		<label class="module" for="menu">
			<span class="foundation-symbol">&#xf169;</span>
			<div class="menu-submenu">
				<ul class="menu-bar">
					<li><a href="/u/myprofile/">Back to my profile</a></li>
					<li><a href="/town/leave/">Leave {{ town.name }}</a></li>
					<li><a href="/u/logout/">Sign Out</a></li>
				</ul>
			</div>
		</label>

		<div class="module">
			<span class="cash">{{ player.cash }}</span>
		</div>

	</div> <!-- fixed-container -->

	<!-- Tooltip contents for each slot -->
	{% for town_slot in slot_details %}
	<div class="screen-wide tooltip-bar" id="{{ town_slot.number }}">
		<a href="#"><img class="close-tooltip" src="{% get_static_prefix %}images/cross.svg"></a>
		<h2>{{ town_slot.name }}</h2>
		{% if town_slot.owner != None %}<p>Owned by {{ town_slot.owner }}</p>{% endif %}

		
		<a class="action inspect" href="slot/{{ town_slot.number }}">Inspect this area</a>

	</div>
	{% endfor %}



	<div id="base" class="mastermap dragger" style="background-image: url('{% get_media_prefix %}maps/{{ town.map_layout.slug }}.png');">
		<div id="town-center"></div>
		<!-- Images for map slots -->
		{% for town_slot in slot_details %}
		<a href="#{{ town_slot.number }}">
			<img
				class="slot owned-by-{{ town_slot.owner }}"
				style="left: {{ town_slot.margin_left }}%; top: {{ town_slot.margin_top }}%;"
				src="{{ town_slot.illustration.image.url }}"
				alt="{{ town_slot.name }}"
				/>
			<div style="left: calc({{ town_slot.margin_left }}% + 2.5%); top: calc({{ town_slot.margin_top }}% + 4.5%);">{{ town_slot.name }}</div>
		</a>
		{% endfor %}
	</div>

</div> <!-- viewport -->
	
{% endblock content %}
