{% extends "meta.html" %}
{% load static %}

{% block head %}

<title>Map</title>


<!-- Prevents autozoom on mobile devices -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> 

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/town.css" media="screen" />

<!-- Script to enable drag and scroll -->
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/jquery-1.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/scrollsync.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}modules/drag-and-scroll/dragscrollable.js"></script>
<script type="text/javascript">
	$(function() {
	// Set drag scroll on first descendant of class dragger on both selected elements
	$('#viewport').
		dragscrollable({dragSelector: '.dragger:first', acceptPropagatedEvent: false});
	});
</script>

{% endblock head %}


{% block content %}

<div id="viewport">

	<input name="zoom" id="zoomed-1x" type="radio"/>
	<span>1x</span>

	<input name="zoom" id="zoomed-2x" type="radio"/>
	<span>2x</span>

	<input name="zoom" id="zoomed-3x" type="radio"/>
	<span>3x</span>

	<input name="zoom" id="zoomed-4x" type="radio"/>
	<span>4x</span>

	<div class="fixed-container">

		<!-- Top status bar -->
		<div class="screen-wide status-bar">
			<ul>
				<li><a href="{% url 'town_map' town.slug %}">{{ town.name }}</a></li>
				<li>{{ player.cash }} &#9749;</li>
			</ul>
			<img class="menu" src="{% get_static_prefix %}images/gear.svg">
			<div class="menu-submenu">
				<ul class="menu-bar">
					<li><a href="/u/myprofile/">Back to my profile</a></li>
					<li><a href="/town/leave/">Leave town</a></li>
					<li><a href="/u/logout/">Sign Out</a></li>
				</ul>
			</div>
		</div>


		{% for town_slot in slot_details %}
		
		<!-- Coordinates and shape of slots -->
		<map id="{{ town_slot.longitude }}-{{ town_slot.latitude }}" name="slot{{ town_slot.number }}">
			<area
				href="#{{ town_slot.longitude }}-{{ town_slot.latitude }}"
				shape="poly"
				coords="52,27,60,21,66,19,76,21,80,30,70,34,69,48,65,47,63,34,53,37"
				alt="{{ town_slot.name }}">
		</map>

		<!-- Tooltip content for map slot 3 -->
		<div class="screen-wide tooltip-bar">
			<a href="#_"><img class="close-tooltip" src="{% get_static_prefix %}images/cross.svg"></a>
			
			<h2>{{ town_slot.name }}</h2>
			{% if town_slot.owner == None %}
			<a class="action" href="slot/{{ town_slot.number }}">Inspect this area</a>
			{% else %}
			Owned by {{ town_slot.owner }}
			{% endif %}
		</div>

		{% endfor %}


	</div> <!-- fixed-container -->



	<div id="base" class="mastermap dragger" style="background-image: url('{% get_media_prefix %}maps/{{ town.map_layout.slug }}.png');">
		<div id="town-center"></div>
		<!-- Images for map slots -->
		{% for town_slot in slot_details %}
		<img
			class="slot"
			style="margin-left: {{ town_slot.longitude }}; margin-top: {{ town_slot.latitude }};"
			src="{% get_static_prefix %}images/slot.png"
			usemap="#slot{{ town_slot.number }}"
			/>
		{% endfor %}
	</div>

</div> <!-- viewport -->
	
{% endblock content %}
