{% extends "base.html" %}
{% load staticfiles %}


{% block head %}{{ block.super }}

<title>Log in</title>

{% endblock head %}



{% block content %}

<p style="text-align:right; margin-top: 1em"><a href="{% url 'signup' %}" class="small button">Don't have an account yet ? Sign Up!</a></p>

<form id="login_form"  class="classic" method="POST" action="">
	{% csrf_token %}
	<p><label>username:</label><input type="text" name="username" value="" size="50" /></p>
	<p><label>password:</label><input type="password" name="password" value="" size="50" /></p>
	<input type="submit" value="Log in !" />
</form>



{% endblock content %}