{% extends "base.html" %}
{% load static %}



{% block head %}{{ block.super }}

<title>{{ user_object.username | capfirst }}</title>

{% endblock head %}



{% block content %}

<h1>
    {{ user_object.username | capfirst }}
</h1>

<ul>
{% if user != user_object %}
<li>Last seen {{ user_object.last_login | timesince }} ago.</li>
{% endif %}
</ul>


<br>
{% if player == "not_in_game" %}
<a class="important button" href="{% url 'joinable_towns' %}">Join a new town</a>

{% elif user.username == user_object.username %}
<a class="important button" href="{% url 'town_map' player.town.slug %}#town-center">Return to {{ player.town.name }}</a>

{% else %}
<a class="important button" href="{% url 'town_map' player.town.slug %}#town-center">Currently in : {{ player.town.name }}</a>

{% endif %}

{% endblock content %}

