{% extends "base.html" %}
{% load static %}



{% block head %}{{ block.super }}

<title>{{ user_object.username | capfirst }}</title>

{% endblock head %}



{% block content %}

<h1>
    {{ user_object.username | capfirst }}, the Brave <!--title-->
</h1>

<ul>
<li>Last seen {{ user_object.last_login | timesince }} ago.</li>
</ul>


<br>
{% if player == "not_in_game" %}
<a class="important button" href="{% url 'join_a_new_town' %}">Join a new town</a>

{% elif user.username == user_object.username %}
<a class="important button" href="{% url 'town_map' player.town.slug %}">Return to {{ player.town.name }}</a>

{% else %}
<a class="important button" href="{% url 'town_map' player.town.slug %}">Currently in : {{ player.town.name }}</a>

{% endif %}

{% endblock content %}

