{% extends "base.html" %}
{% load static %}


{% block head %}{{ block.super }}

<title>God - Profit</title>

{% endblock head %}


{% block content %}

<h1>Oh how time goes by !</h1>

<section>
<table class="backend vertical">
<thead><td>Town</td><td>Pop.</td><td colspan="2">Phase</td></thead>
{% for town in list_of_active_towns %}
<tr>
	<td>{{ town.name }}</td>
	<td style="text-align: center;">{{ town.population }}</td>
	<td style="text-align: center;">{{ town.phase }}</td>
	<td>
		<form method="POST" action="">{% csrf_token %}
			<input type="hidden" name="time-goes-by-in" value="{{ town.slug }}">
			<input type="submit" class="minibutton" value="+">
		</form>
	</td>
</tr>
{% endfor %}
</table>

<p>
<form method="POST" action="">{% csrf_token %}
	<input type="hidden" name="time-goes-by-in" value="all">
	<input style="margin: 0 auto;" type="submit" class="button" value="Time goes by for all !">
</form>
</p>

</section>

<section>

<p>
<form method="POST" action="" style="text-align: center;">{% csrf_token %}
	<input type="hidden" name="process-auctions" value="only-completed">
	<input type="submit" class="button" value="Process completed auctions !">
</form>
</p>

<p>
<form method="POST" action="" style="text-align: center;">{% csrf_token %}
	<input type="hidden" name="process-auctions" value="all">
	<input type="submit" class="button" value="Process all auctions regardless !">
</form>
</p>

</section>

{% endblock content %}