{% extends "base.html" %}

{% block content %}

<div class="quote">

	<p>“I can't believe it's been so many years already !</p>

	<p>Oh,  I remember when you first walked in here and cleaned out my purse while I was doing the paperwork. I guess this degree deserved you eh ?</p>

	<p>You're a fully trained Financier now, you can legally hire, buy, build and sell anything you want. But you'll need money for that, won't you ?</p>

	<p>Ah, I'm just messing with you. The king's men are going to be here in a few days with your <em>complementary</em> chestful of gold. I'm told they've already assigned you to a place. It's a minuscule settlement, quite far away from here. I'm sure you'll find profitable endeavours there though, even among those peasants.</p>

	<p>Be warned, you will not be alone. Other Financiers are being sent, and they will attempt to reap the benefits of this soon-to-be growing town. Competition is bad for business, you know, so you <em>might</em> want to do something about that."</p>

</div>


	<br>
	<h2 style="text-align: center;">
		<a href="/u/signup">Sign Up</a>
		<span> / </span>
		<a href="/u/login">Log in</a>
	</h2>


{% endblock content %}