@import url(/static/css/nav.css); /* Import styles for the navigation buttons */


/*
 * General Formatting
 *
 */

html {
	background-color: black;
	font-size: 100%;
	height: 100%;
	width: 100vw;

}

body {
	font-family: "Average";
	font-weight: 100;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
	height: 100%;
	line-height: 1;
	overflow-x: hidden;
}

div, nav, footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h1, h2, h3, h4 {
	font-family: "Berkshire Swash", serif;
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: .2em;
}

h1 {font-size: 2.0rem; margin-top: 0;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 0.8rem;
	text-transform: uppercase;}

li:before {
	content: "- ";
}

ul.links li:before {
	content: "+ ";
}

li {
	font-size: 1em;
}

.big {
	font-size: 1.2rem;
}

.bigger {
	font-size: 1.4rem;
}


strong {
	font-weight: bold;
}

p {
	line-height: 1.5;
	font-family: "Average", serif;
}

p img {
	height: 1em;
	vertical-align: bottom;
}

p + p,
p + form,
*:not(p) + p {
	margin-top: 1rem;
}

.icon {
	height: 1rem;
	vertical-align: bottom;

}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: inherit;
}

a:hover        { border-bottom: .150em solid black; }
footer a:hover { border-bottom: .150em solid white; }


/*
 * Header
 *
 */

header {
	color: white;
	text-align: center;
	padding: 1.5rem 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header div:nth-child(1) {
	font-size: 3em;
	font-family: "Berkshire Swash", serif;
}

header div:nth-child(2) {
	font-size: 1.4em;
	margin-top: .2em;
}



/*
 * Header
 *
 */

div.message {
	background-color: white;
	text-align: center;
	padding-top: 1rem;
	font-style: italic;
}



/*
 * Layout
 *
 */

.content {
	padding: 0 1rem;
	margin: 0 auto;
	clear: both;
	max-width: 1008px; /* 56rem * 18px */
	overflow: contain;
}

nav.content {
	text-align: right;
	min-height: 2.5rem;
	margin-bottom: 1rem;
}

.white-wrapper {
	background-color: white;
	width: 100%;
	padding-bottom: 2rem;
}

.quote {
	max-width: 32rem;
	margin: 0 auto;
}

/*
 * Sections
 *
 */

hr {
	margin-top: 1rem;
}

section {
	float: left;
	text-align: left;
	padding: 0 1.5rem;
	width: 24rem;
	vertical-align: top;
}

section + section {
	padding-top: 2rem;
}

/* Used when I want two columns of text that merge seamlessly on low resolution */
section + section.fake-column {
	padding-top: 0;
}



/*
 * Placeholders
 *
 */

.placeholder {
	background-color: gray;
	padding: .5rem;
	text-align: center;
}

/*
 * Form Styling
 *
 */

form {
	line-height: 1.5;
}

form p {
	margin-bottom: 2rem;
}

form .formline {
	overflow: hidden;
	margin-bottom: .2rem;
}

form .formline label {
	float: left;
}

form .formline span {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

label {
	font-family: 'Berkshire Swash', serif;
	text-transform: lowercase;
	padding-left: 2rem;
}

input {
	background-color: white;
	border: none;
	font-family: 'Average', serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=password] {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: inline;
	font-size: 1rem;
	text-align: right;
}

input[type=button],
input[type=submit] {
	float: right;
	font-size: 1.5rem;
	margin: 0 1rem 0 1rem;
	padding: 1rem;
	line-height: 1;
	font-family: 'Berkshire Swash', serif;
	cursor: pointer;
}

form .helptext {
	display: none;
}

/* Newsletter form confirm message ! */

.message {
	display: none;
}

.message + div div form.newsletter-form {
	display: none;
}

.message + div div p.yay-newsletter {
	display: block;
}

p.yay-newsletter {
	display: none;
	font-weight: bold;
}





/*
 * User Page
 *
 */

.trophies {
	width: 100%;
	height: 3rem;
	margin-bottom: .2rem;
}

.avatar {
	float: right;
	width: 20%;
	display: inline-block;
	height: 10rem;
}

.resumay {
	width: 78%;
	display: inline-block;
	min-height: 10rem;
}

.mapthumbnail {
	width: 100%;
	height: 12rem;
	margin-bottom: .25rem;
}


div.anchor {
	clear: both;
	height: 1px;
}

/* TEMP */
section.citylist {
	display: none;
}




/*
 * Footer
 *
 */


footer {
	background-color: black;
	padding: 2rem 0;
	min-height: 15vh;
	color: white;
	text-align: center;
}

footer li { display: inline-block; text-transform: lowercase;}
footer li:before { content: " \2022 "; }
footer li:first-child:before { content: none;}



/*
 * Responsive !
 *
 * Size of screen is 56rem
 * Container padding : 1 + 1
 * Section padding : 1.5 + 1.5 + 1.5 + 1.5
 * Section width : 24 + 24
 *
 */

html { font-size: 18px; }

@media (max-width: 1008px) {
	html { font-size: 14px;
		   font-size: 1.784vw; }
}

@media (max-width: 800px) {
	html { font-size: 12px;
		   font-size: 3.370vw; }
}