/*
 * Vertical Positioning (z-index)
 *
 */

map area
{ z-index: 0; }
/* Hyperlinks of these buildings are further above. */

#mastermap img
{ z-index: 1; }
/* Images of buildings are above the map. */

map:target + .tooltip-container .tooltip
{ z-index: 2; }

menu,
.navicon,
map:hover + .tooltip-container .tooltip
{ z-index: 3; }
/* The main navigation bars stand over the map and its contents. */

.close-menu
{ z-index: 4; }
/* The tooltip overlaps the normal tooltip bar. */



/*
 * General Interface
 *
 */

 .pane {
 	/* Styles the tooltip pane and the menu pane */
	background-color: #FED699;
	box-shadow: 0 0 .5rem;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.close {
	/* Styles the icon which closes a tooltip. */
	position: absolute;
	top: .5rem;
	right: .5rem;
	height: 2rem;
	width: 2rem;
}

/*
 * Nav
 *
 */

.navicon  {
	/* Styles the triple bar icon */
	top: 1rem;
	left: 1rem;
	height: 2rem;
	width: 2rem;
	position: absolute;
	background: url('i/navicon.svg') no-repeat;
	background-size: contain;
}

#menu-trigger:target > .navicon {
	display: none;
}

#menu-trigger:target + menu {
	display: inline-block;
}


menu {
	display: none;
	position: absolute;
	height: 100%;
	width: 30%;
	padding: 1.5rem;
	width: 70%;
	max-width: 20rem;	
	height: 100%;
	max-height: 30rem;
}

.user-title {
	/* Aligns the user name with the rest of the text by compensating Berkshire Swash */
	margin-left: -.45rem;
}


/*
 * Tooltip
 *
 */


.tooltip-container {
	display: none;
	text-align: center;
}

.tooltip {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5rem;
	text-align: center;
	vertical-align: middle;
	width: 96%;
	margin: 2%;
	max-width: 30rem;	
	height: 35%;
	max-height: 20rem;
}

.tooltip table {
	display: inline;
	width: 100%;
	height: 100%;
	margin: 0;
}

.tooltip td {
/*	vertical-align: middle; */
	text-align: center;
}

/*
 * Map
 *
 */

#map-container {
	width: 100%;
	max-width:100%;
	height: 100%;
	max-height: 100%;
	overflow: scroll;
}

#mastermap {
	font-size: 0px;
	position: relative;
	width: 2000px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('map.png');
}


#mastermap .line {
	margin-bottom: -16px;
}

#mastermap .odd {
	margin-left: 31px;
}

#mastermap .single {
	height: 32px;
	width: 62px;
	margin-left: -15px;
	display: inline-block;
	position: absolute;
}

map {
	position: absolute;
}

map:hover + .tooltip-container {
	/* The tooltip is shown upon hover of the building. */
	display: block;
}

map:target + .tooltip-container {
	/* The tooltip is shown upon click of the building. */
	display: block;
}



/* Buttons */

.upgrade-area:before {
	content: "Available upgrades :";
}