/*
 * General Formatting
 *
 */

html {
	background-color: black;
	font-size: 100%;
	height: 100%;
	width: 100vw;
}

body {
	font-family: "Average";
	font-weight: 100;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
	height: 100%;
	line-height: 1;
	overflow-x: hidden;
}

div, nav, footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h1, h2, h3, h4 {
	font-family: "Berkshire Swash", serif;
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: .2em;
}

h1 {font-size: 2.0rem; margin-top: 0;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.4rem;
	font-family: inherit;
	font-style: italic;
}

p li:before {
	content: "- ";
}

ul.links li:before {
	content: "+ ";
}

.big {
	font-size: 1.2rem;
}

.bigger {
	font-size: 1.4rem;
}


strong {
	font-weight: bold;
}

p {
	line-height: 1.5;
	font-family: "Average", serif;
}

p img {
	height: 1em;
	vertical-align: bottom;
}

p + p,
p + form,
*:not(p) + p {
	margin-top: 1rem;
}

.icon {
	height: 1rem;
	vertical-align: bottom;

}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: inherit;
}


/* Style all links with a black bottom line, except for buttons, and using a white line instead for the black footer area */
	   a:not(.button):hover { border-bottom: .150em solid black; }
footer a:not(.button):hover { border-bottom: .150em solid white; }


.symbol {
	font-family: "Symbols";
	font-size: .8em;
}


/*
 * Header
 *
 */

header {
	color: white;
	text-align: center;
	padding: 1.5rem 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header div:nth-child(1) {
	font-size: 3em;
	font-family: "Berkshire Swash", serif;
}

header div:nth-child(2) {
	font-size: 1.4em;
	margin-top: .2em;
}



/*
 * Messages
 *
 */

div.message {
	background-color: white;
	text-align: center;
	padding-top: 1rem;
	font-style: italic;
}



/*
 * Buttons
 *
 */

.button {
	display: inline-block;
	background-color: lightgray;
	padding: .5em 1em;
	border-radius: .2em;
	box-shadow: .2em .2em 0 0 darkgray;
	margin: 1em 0 .2em 0;
}
.button:not(.symbol) {
	font-family: "Berkshire Swash", serif;
}

.button:hover {
	box-shadow: .2em .2em 0 0 gray;
}

.button:active {
	box-shadow: 0 0 0 0 gray;
	margin-top: 1.2em;
	margin-left: .2em;
	margin-bottom: 0;
}

.important.button { font-size: 1.25em; }
.small.button { font-size: .7em; }


/*
 * Layout
 *
 */

.content {
	margin: 0 4rem 0 4%; /* fallback */
	margin: 0 4rem 0 4vw;
	padding: 2rem 0 2rem 0; /* fallback */
	padding: 4vw 0 4vw 0;
	/*
	We try to have the top, bottom and left buffers be the same size.
	We use padding for top and bottom to avoid double-sided margins.
	We use margin for right because we then apply a nav bar on the right side.
	We use margin for left for consistency.
	*/
	float: left;
	overflow: contain;
}

nav {
	margin-right: 1rem;
	padding: 2rem 0; /* fallback */
	padding: 4vw 0;
	text-align: center;
	float: right;
}

.white-wrapper {
	background-color: white;
	width: 100%;
}

.quote {
	max-width: 32rem;
	margin: 0 auto;
}


/*
 * Nav
 *
 */

nav li {
	font-family: "Symbols";
	display: block;
	padding: .5rem;
	font-size: 1.5rem;
	color: black;
	background-color: white;
	text-align: center;
	border-bottom: .250rem solid white;	
}

nav li:hover {
	border-bottom: .250rem solid black;
}

/*
 * Sections
 *
 */

hr {
	margin-top: 1rem;
}

section {
	float: left;
	text-align: left;
	padding: 0 1.5rem;
	width: 24rem;
	vertical-align: top;
}

section + section {
	padding-top: 2rem;
}

/* Used when I want two columns of text that merge seamlessly on low resolution */
section + section.fake-column {
	padding-top: 0;
}



/*
 * Tables
 *
 */

table td {
	padding: .5em;
	vertical-align: middle;
}

table.horizontal tr td:first-child {
	/* Styles the first cell of each row */
	font-family: 'Berkshire Swash', serif;
	font-size: 1.3em;
}

table.vertical tr:first-child {
	/* Styles the first row */
	font-family: 'Berkshire Swash', serif;
	font-size: 1.3em;
}

table.big {
	font-size: 1.2rem;
}


/*
 * Placeholders
 *
 */

.placeholder {
	background-color: lightgray;
	padding: .5rem;
	border-radius: .2em;
	text-align: center;
}

/*
 * Form Styling
 *
 */

form {
	line-height: 1.5;
}

form p {
	margin-bottom: 2rem;
}

form .formline {
	overflow: hidden;
	margin-bottom: .2rem;
}

form .formline label {
	float: left;
}

form .formline span {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

label {
	font-family: 'Berkshire Swash', serif;
	text-transform: lowercase;
	padding-left: 2rem;
}

input {
	background-color: white;
	border: none;
	font-family: 'Average', serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

form.classic input[type=text],
form.classic input[type=email],
form.classic input[type=password] {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: inline;
	font-size: 1rem;
	text-align: right;
}

form.classic input[type=button],
form.classic input[type=submit] {
	float: right;
	font-size: 1.5rem;
	margin: 0 1rem 0 1rem;
	padding: 1rem;
	line-height: 1;
	font-family: 'Berkshire Swash', serif;
	cursor: pointer;
}

form.classic form .helptext {
	display: none;
}

/* Messages */

.message {

}





/*
 * User Page
 *
 */

.trophies {
	width: 100%;
	height: 3rem;
	margin-bottom: .2rem;
}

.avatar {
	float: right;
	width: 20%;
	display: inline-block;
	height: 10rem;
}

.resumay {
	width: 78%;
	display: inline-block;
	min-height: 10rem;
}

.mapthumbnail {
	width: 100%;
	height: 12rem;
	margin-bottom: .25rem;
}


div.anchor {
	clear: both;
	height: 1px;
}





/*
 * Footer
 *
 */


footer {
	clear: both;
	background-color: black;
	padding: 2rem 0;
	min-height: 15vh;
	color: white;
	text-align: center;
}

footer li { display: inline-block; text-transform: lowercase;}
footer li:before { content: " \2022 "; }
footer li:first-child:before { content: none;}



/*
 * Responsive !
 *
 * Size of screen is 56rem
 * Container padding : 1 + 1
 * Section padding : 1.5 + 1.5 + 1.5 + 1.5
 * Section width : 24 + 24
 *
 */

html { font-size: 18px; }

@media (max-width: 1008px) {
	html { font-size: 14px;
		   font-size: 1.784vw; }
}

@media (max-width: 800px) {
	html { font-size: 12px;
		   font-size: 3.370vw; }
}