/*
 * General Formatting
 *
 */

html {
	background-color: black;
	font-size: 100%;
	height: 100%;
	width: 100vw;
}

body {
	font-family: "Average";
	font-weight: 100;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
	height: 100%;
	line-height: 1;
	overflow-x: hidden;
}

div, nav, footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h1, h2, h3, h4 {
	font-family: "Berkshire Swash", serif;
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: .2em;
}

h1 {font-size: 2.0rem; margin-top: 0;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.4rem;
	font-family: inherit;
	font-style: italic;
}

p li:before {
	content: "- ";
}

ul.links li:before {
	content: "+ ";
}

.big {
	font-size: 1.2rem;
}

.bigger {
	font-size: 1.4rem;
}


strong {
	font-weight: bold;
}

cite p:first-child:first-letter {
	margin-left: -1em;
}

cite p:first-child:before {
	content: open-quote;
	font-family: "Berkshire Swash", "Average", serif;
	position: relative;
	font-size: 3em;
	left: .6em;
	top: .4em;
	line-height: 0;
}

cite p:last-child:after {
	content: close-quote;
	font-family: "Berkshire Swash", "Average", serif;
	font-size: 3em;
	position: relative;
	top: .6em;
	left: 0em;
	line-height: 0;
}

p {
	line-height: 1.5;
	font-family: "Average", serif;
}

p img {
	height: 1em;
	vertical-align: bottom;
}

p + p,
p + form,
*:not(p) + p {
	margin-top: 1rem;
}

.icon {
	height: 1rem;
	vertical-align: bottom;

}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: inherit;
}


/* Style all links with a black bottom line, except for buttons, and using a white line instead for the black footer area */
	   a:not(.button):hover { border-bottom: .150em solid black; }
footer a:not(.button):hover { border-bottom: .150em solid white; }


.symbol {
	font-family: "Symbols";
	font-size: .8em;
}


/*
 * Header
 *
 */

header {
	color: white;
	text-align: center;
	padding: 1.5rem 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header div:nth-child(1) {
	font-size: 3em;
	font-family: "Berkshire Swash", serif;
}

header div:nth-child(2) {
	font-size: 1.4em;
	margin-top: .2em;
}



/*
 * Messages
 *
 */

div.message {
	background-color: lightgray;
	line-height: 1;
	padding: .5rem 1rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 .1rem 0 black;
	display: inline-block;
}

div.message:before {
	/* Maybe put a warning symbol */
}



/*
 * Buttons
 *
 */

.button,
input[type=button],
input[type=submit] {
	display: inline-block;
	background-color: lightgray;
	padding: .5em 1em;
	border-radius: .2em;
	box-shadow: .2em .2em .1em 0 darkgray;
	position: relative;
	bottom: .2em;
	right: .2em;
}

.button:not(.symbol) {
	font-family: "Berkshire Swash", serif;
}

.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	box-shadow: .2em .2em .1em 0 gray;
}

.button:focus,
input[type=button]:focus,
input[type=submit]:focus {
	box-shadow: .2em .2em .1em 0 #666;
	/* Overrides normal input:focus behavior; */
}

.button:active,
input[type=button]:active,
input[type=submit]:active {
	box-shadow: 0 0 0 0 white;
	position: relative;
	bottom: 0;
	right: 0;
}

.button { font-size: 1em; }
.important.button { font-size: 1.25em; }
.small.button { font-size: .7em; }



/*
 * Layout
 *
 */

.content {
	margin: 0 auto; /* fallback */
	padding: 1rem 0;
	width: 100%;
	max-width: 32rem;
	overflow: contain;
}

nav {
	position: absolute;
	right: calc(50% - (32rem / 2) - 5rem);
	width: 3rem;
	padding: 1rem 0;
	text-align: center;
}

@media (max-width: 800px) {

	.content {
		padding: 2vw 4vw;
		max-width: 100%;
	}

	nav {
		position: static;
		float: none;
		padding: 0 4vw;
		width: 100%;
		text-align: right;
	}

	nav li { max-width: 2rem; float: right; }
}

.white-wrapper {
	background-color: white;
	width: 100%;
	position: relative;
}



/*
 * Nav
 *
 */

nav li {
	font-family: "Symbols";
	display: block;
	padding: .5rem;
	font-size: 1.5rem;
	color: black;
	background-color: white;
	text-align: center;
	border-bottom: .250rem solid white;	
}

nav li:hover {
	border-bottom: .250rem solid black;
}

/*
 * Sections
 *
 */

hr {
	margin-top: 1rem;
}

section {
	float: left;
	text-align: left;
	padding: 0 1.5rem;
	width: 24rem;
	vertical-align: top;
}

section + section {
	padding-top: 2rem;
}

/* Used when I want two columns of text that merge seamlessly on low resolution */
section + section.fake-column {
	padding-top: 0;
}



/*
 * Tables
 *
 */

table td {
	padding: .5em;
	vertical-align: middle;
}

table.horizontal tr td:first-child {
	/* Styles the first cell of each row */
	font-family: 'Berkshire Swash', serif;
	font-size: 1.3em;
}

table.vertical tr:first-child {
	/* Styles the first row */
	font-family: 'Berkshire Swash', serif;
	font-size: 1.3em;
}

table.big {
	font-size: 1.2rem;
}


/*
 * Placeholders
 *
 */

.placeholder {
	background-color: lightgray;
	padding: .5rem;
	border-radius: .2em;
	text-align: center;
}

/*
 * Form Styling
 *
 */

form {
	line-height: 1.5;
}

form p {
	margin-bottom: 2rem;
}

form .formline {
	overflow: hidden;
	margin-bottom: .2rem;
}

form .formline label {
	float: left;
}

form .formline span {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

input {
	border: none;
	font-family: 'Average', serif;
	line-height: 1.5;
	background-color: lightgray;
	padding: .5em 1em;
	border-radius: .2em;
	font-size: 1em;
	text-align: bottom;
}

input:focus {
	-moz-box-shadow:    inset 0 0 .25em .25em darkgray;
	-webkit-box-shadow: inset 0 0 .25em .25em darkgray;
	box-shadow:         inset 0 0 .25em .25em darkgray;
}

label {
	font-family: 'Berkshire Swash', serif;
	text-transform: lowercase;
	padding-left: 2rem;
}

.helptext {
	display: inline-block;
	font-size: .8em;
	color: #666;
}

input[type=text],
input[type=email],
input[type=password] {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: inline;
	text-align: right;
}

input[type=button],
input[type=submit] {
	display: block;
	margin: 3.5em 0 2.5em auto;
	font-size: 1em;
	font-family: 'Berkshire Swash', serif;
	cursor: pointer;
	/* Also see buttons */
}


/*
 * User Page
 *
 */

.trophies {
	width: 100%;
	height: 3rem;
	margin-bottom: .2rem;
}

.avatar {
	float: right;
	width: 20%;
	display: inline-block;
	height: 10rem;
}

.resumay {
	width: 78%;
	display: inline-block;
	min-height: 10rem;
}

.mapthumbnail {
	width: 100%;
	height: 12rem;
	margin-bottom: .25rem;
}


div.anchor {
	clear: both;
	height: 1px;
}





/*
 * Footer
 *
 */


footer {
	clear: both;
	background-color: black;
	padding: 2rem 0;
	min-height: 15vh;
	color: white;
	text-align: center;
}

footer li { display: inline-block; text-transform: lowercase;}
footer li:before { content: " \2022 "; }
footer li:first-child:before { content: none;}



/*
 * Responsive !
 *
 * Size of screen is 56rem
 * Container padding : 1 + 1
 * Section padding : 1.5 + 1.5 + 1.5 + 1.5
 * Section width : 24 + 24
 *
 */

html { font-size: 18px; }

@media (max-width: 1008px) {
	html { font-size: 14px;
		   font-size: 1.784vw; }
}

@media (max-width: 800px) {
	html { font-size: 12px;
		   font-size: 3.370vw; }
}