@font-face {
    font-family: 'Berkshire Swash';
    src: url('../fonts/berkshireswash-regular-webfont.eot');
    src: url('../fonts/berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/berkshireswash-regular-webfont.woff') format('woff'),
    url('../fonts/berkshireswash-regular-webfont.ttf') format('truetype'),
    url('../fonts/berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Average';
    src: url('../fonts/average-regular-webfont.eot');
    src: url('../fonts/average-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/average-regular-webfont.woff') format('woff'),
    url('../fonts/average-regular-webfont.ttf') format('truetype'),
    url('../fonts/average-regular-webfont.svg#averageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Symbols';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#averageregular') format('svg');
}

@font-face {
  font-family: 'Foundation';
  src: url('../fonts/foundation-icons/foundation-icons.eot');
  src: url('../fonts/foundation-icons/foundation-icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-icons/foundation-icons.woff') format('woff'),
       url('../fonts/foundation-icons/foundation-icons.ttf') format('truetype'),
       url('../fonts/foundation-icons/foundation-icons.svg#fontcustom') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('../fonts/foundation-icons/foundation-icons.css'); /* Import foundation symbols font */

.foundation-symbol {
    font-family: "Foundation";
}

.symbol {
    font-family: "Symbols";
    font-size: .8em;
}