/* Styles for the navigation buttons */

nav li {
	font-family: "Symbols";
	display: block;
	font-size: 1.5rem;
	padding: .5em;
	color: black;
	background-color: white;
	text-align: center;
	border-bottom: .250rem solid white;	
}

nav li:hover {
	border-bottom: .250rem solid black;
}