@import url(../modules/drag-and-scroll/style.css); /* styling of elements for scrolling */


/*
 * General Formatting
 *
 */
							html { font-size: 16px; }
@media (max-width: 980px) { html { font-size: 14px;	} }
@media (max-width: 480px) {	html { font-size: 12px; } }

body {
	background-color: white;
	font-family: "Average";
	font-weight: 100;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

strong { font-weight: bold; }

p { line-height: 1.5; }

h1, h2, h3, h4 {
	font-family: "Berkshire Swash", serif;
	line-height: 1.2;
}

h1 {font-size: 2.0rem; margin-top: 0;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.4rem;
	font-family: inherit;
	font-style: italic;
}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: inherit;
}

/* Style all links with a black bottom line, except for buttons, and using a white line instead for the black footer area */
	   a:not(.button):not(.foundation-symbol):hover { border-bottom: .150em solid black; }
footer a:not(.button):not(.foundation-symbol):hover { border-bottom: .150em solid white; }

span.cash:after {
	content: "P";
	text-decoration: line-through;
	margin-left: .25em;
}

/*
 * Vertical Positioning (z-index)
 *
 */


map area {
	z-index: 1;
}

.fixed-container {
	z-index: 2;
}

.tooltip-bar {
	z-index: 3;
}

img.slot + div {
	z-index: 4;
}



/*
 * Bars
 *
 */

[class*="-bar"],
.module,
input[name=zoom] + label, .dummy-zoom,
input[name=touch-mouse-toggle] + label {
	/* Used to format most bars. */
	background-image: url('../images/parchment.jpg');
	background-size: cover;
	padding: 0.500em 0.650em;
	color: black;
	pointer-events: auto; /* Makes the bar clickable */
	border: 0.100em solid black;
	border-radius: 0em; /* 0.400em */
	box-shadow: 0 0 0.200em black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;	/* Firefox, other Gecko */
	box-sizing: border-box;		 /* Opera/IE 8+ */
}


.fixed-container {
	position: fixed;
	text-align: right;
	top: 2vw;
	right: 2vw;
	max-width: calc(100vw - 4vw - 8rem);
	font-size: 0; /* inline block space fix */
	direction: rtl;
	pointer-events: none;
}

.module {
	cursor: pointer;
	min-height: 3em;
	padding-top: .7em;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 1vw;
	margin-bottom: 1vw;
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	margin-left: 1vw;
	margin-bottom: 1vw;
}



@media (max-width: 480px) {	
	.module {
		margin-left: 2vw;
		margin-bottom: 2vw;
	}
}

.module span.foundation-symbol {
	font-size: 1.5em;
	vertical-align: -.125em;
	line-height: 1;
}

.module span {
	line-height: 1.45;
	direction: ltr;

}

input[type=checkbox].hidden  {
	display: none;
} 

.module ul {
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1;
}

.module > ul li { display: inline-block; font-size: 1.5em; }
.module > ul li:before { content: "\2022 \0020"; }
.module > ul li:first-child:before { content: none; }

.menu-submenu {
	direction: ltr;
	visibility: hidden;
	opacity:0;
	transition: visibility 0s linear 0.1s, opacity 0.1s linear;
	/* Displays only when menu is hovered. */
	position: fixed;
	color: black;
	width: auto;
	right: 2vw;
	top: calc(2vw + 4em);
	max-width: calc(100vw - 4vw - 8em);
}

.menu-submenu ul {
	background-image: url('../images/parchment.jpg');
	background-size: cover;
	line-height: 1.5;
	text-align: left;
}

.menu-submenu ul li {
	padding: 0.5em 1em;
	font-family: "Average", sans-serif;
}

.menu-submenu ul li:before { content: "\2022 \0020"; }

input:checked + label.module .menu-submenu,
.menu-submenu:hover {
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}

.close-menu { display: none; }
input:checked + label.module .open-menu { display: none; }
input:checked + label.module .close-menu { display: inline-block; }



/****************/
/* Tooltip Area */
/****************/

.tooltip-bar {
	vertical-align: middle;
	font-size: 1rem;
	position: fixed;
	bottom: 2vw;
	right: 2vw;
	max-height: calc(100vh - 4vw - 9em); /* Doesn't overlap the zoom and touch/mouse buttons */
	max-width: 96vw;
	width: 20rem;
	visibility: hidden;
	opacity:0;
	padding: 1em;
	transition: visibility 0s linear 0.1s, opacity 0.1s linear; 
}

.close-tooltip { 
	/* Styles the icon which closes a tooltip. */
	height: 1em;
	vertical-align: bottom;
	position: absolute;
	right: 0.450em;
	top: 0.450em;
}

.action {
	display: inline-block;
	font-family: 'Average', serif;
	opacity: .8;
	color: black;
	box-shadow: 0 0 0.150em black;
	border-bottom: .150em solid transparent;
	padding: .30em .60em .20em .40em;
	margin: .5em 0;
}

.action:before { font-family: 'Foundation'; vertical-align: top;}
.action.inspect:before { content: '\f16c \0020';}


/*|‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾|*/
/*|        Map        |*/
/*|___________________|*/
 
.mastermap {
	position: relative;
	background-size: contain;
}

img.slot {
	display: inline-block;
	position: absolute;
	height: 4%; /* Should be 64px for 1600px */
	width: 4%; /* Should be 128px for 3200px */
	-webkit-transition: all .5s ease; /* Safari and Chrome */
	   -moz-transition: all .5s ease; /* Firefox */
	    -ms-transition: all .5s ease; /* IE 9 */
	     -o-transition: all .5s ease; /* Opera */
	        transition: all .5s ease;
}

img.slot:hover {
	/* Little effect on hover */
	-webkit-transform:scale(1.20); /* Safari and Chrome */
	   -moz-transform:scale(1.20); /* Firefox */
	    -ms-transform:scale(1.20); /* IE 9 */
	     -o-transform:scale(1.20); /* Opera */
	        transform:scale(1.20);
}

img.slot + div {
	position: absolute;
	text-align: center;
	font-size: .8em;
	font-family: 'Average', serif;
	background-image: url('../images/parchment.jpg');
	background-size: cover;
	border: 0.100em solid black;
	border-radius: 0em; /* 0.400em */
	box-shadow: 0 0 0.200em black;
	padding: .25em .5em;
	visibility: hidden;
	opacity:0;
	transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}

img.slot:hover + div {
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}

.mastermap #town-center { /* anchor to position browser window on the middle of the page */
	width: 50%;
	width: 100vw; /* The anchor is the size of the screen */
	left: 25%;
	left: calc(50%-50vw); /* It is positionned in the middle (50% margin) and centered by moving it back 50vw */
	top: 10%;
	top: calc(50%-50vh);
	display: inline-block;
	position: absolute;
}

.tooltip-bar:target {
	/* The tooltip is shown upon hover or click of the feature. */
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}



/* Radio Buttons as option markers */

input[type=radio] + label { font-family: 'Average', serif; text-align: center; }
input[type=radio] + label:before { font-family: "Foundation"; cursor: pointer; font-size: 1.5em; display: block;}



/*|‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾|*/
/*|    Zoom levels    |*/
/*|___________________|*/

input[name=zoom],
input[name=zoom] + label,
.dummy-zoom  {
	z-index: 5;
	position: fixed;
	top: 2vw;
	height: 3em;
	width: 3em;
	padding-top: .72em
}

input[name=zoom] ~ #base { min-width: 200vh; min-height: 100vh; } /* Fallback minimum sizes. */

#zoomed-1x:checked ~ #base { width: 100vw; height:  50vw; }
#zoomed-2x:checked ~ #base { width: 200vw; height: 100vw; }
#zoomed-3x:checked ~ #base { width: 300vw; height: 150vw; }
#zoomed-4x:checked ~ #base { width: 400vw; height: 200vw; }

@media (orientation:portrait) {
	#zoomed-1x:checked ~ #base { width: 200vh; height: 100vh; }
	#zoomed-2x:checked ~ #base { width: 300vh; height: 150vh; }
	#zoomed-3x:checked ~ #base { width: 400vh; height: 200vh; }
	#zoomed-4x:checked ~ #base { width: 500vh; height: 250vh; }
}

/* Hide zoom if device is 2400px or better */
@media (min-width: 2350px) { #zoomed-1x, #zoomed-1x + label { display: none; } }
@media (min-width: 2350px) { #zoomed-2x, #zoomed-2x + label { display: none; } }
/* Hide third level if 1600px or more */
@media (min-width: 1550px) { #zoomed-3x, #zoomed-3x + label { display: none; } }
/* Hide fourth level if 800px or more */
@media (min-width:  750px) { #zoomed-4x, #zoomed-4x + label { display: none; } }

input[name=zoom] { display: none; }
/* Hide the default checkboxes, replace them with their labels */
input[name=zoom] + label { left: calc(2vw + 4em); }
input[name=zoom]:not(:first-child) + label { box-shadow: none; }
input[name=zoom] + label:before { content: "\f21a"; }
/* Display the zooming out icon for the topmost zoom button */
input[name=zoom]:checked + label { display: none; }
/* If a zoom level is activated, its button is useless ! */
input[name=zoom]:checked ~ [id*="zoomed"] + label { display: none; }
/* Hide all the higher zoom levels */
input[name=zoom]:checked + label + [id*="zoomed"] + label { display: inline-block; left: 2vw; box-shadow: 0 0 0.200em black; }
/* Except for the one right after/above the current checked one */
input[name=zoom]:checked + label + [id*="zoomed"] + label:before { content: "\f219"; }
/* Display it as a zoom-in button */

/* input[name=zoom]:first-child:checked ~ input[name=zoom] + label { left: 2vw; }
/* If the lowest zoom is checked, there is no minus button, so we move the + button to the right. */

input[name=zoom] + label:active { text-decoration: underline; }

.dummy-zoom { z-index: 4; text-align: center; opacity: 0.3; box-shadow: none; border: none; box-shadow: 0 0 0.200em black; }
.dummy-zoom span { font-size: 1.5em; }


/*|‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾|*/
/*|    Touch Toggle    |*/
/*|____________________|*/

input[name=touch-mouse-toggle] { display: none; }
input[name=touch-mouse-toggle] + label { position: fixed; z-index: 5; top: calc(2vw + 4em); left: 2vw; width: 5em; height: 4em; padding-top: .70em}
input[name=touch-mouse-toggle]:checked + label { display: none; }
input[name=touch-mouse-toggle]#touch + label:before { content: "\f178"; }
input[name=touch-mouse-toggle]#mouse + label:before { content: "\f179"; }

input[name=touch-mouse-toggle]#touch:checked ~ #viewport { overflow: auto; }
input[name=touch-mouse-toggle]#mouse:checked ~ #viewport { overflow: hidden; }

@media (min-width: 1550px) { input[name=touch-mouse-toggle]#touch + label { z-index: 6;} }
#touch:not(:checked) ~ #mouse:not(:checked) + label{ box-shadow: none; }
/* If neither is selected, they are both showing up, so we increase the z-index on the relevant one and remove the box-shadow */
