{% extends "meta.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock head %}



{% block header %}

<div><a href="/">Profit</a></div>
<div><a href="/">The game where greed is good</a></div>

{% endblock header %}



{% block upper_body %}

<div class="white-wrapper">

	<nav><ul>

		{% if user.is_authenticated %}

			{% if user.is_staff %}
			<a href="/admin/">
				<li>&#xe606;</li></a>
			{% endif %}

		<a href="/u/{{ user.username }}/">
			<li>&#xe602;</li></a>

		{% else %}

		<a href="/u/login/">
			<li>&#xe603;</li></a>

		{% endif %}
		
	</ul>
	<div class="anchor"></div>
	</nav>

	<div class="content">

	{% if messages %}
		{% for message in messages %}
			<div {% if message.tags == "success" %} class="message" {% endif %} >{{ message }}</div>
		{% endfor %}
	{% endif %}

{% endblock upper_body %}



{% block content %}

<!-- Main content displayed here -->

{% endblock content %}



{% block lower_body %}
	</div>

<div class="anchor"></div>

</div> <!-- white-wrapper -->

{% endblock lower_body %}



{% block footer %}

	<ul>

		<li><a href="/">
			Home</a></li>

		{% if user.is_authenticated %}

		<li><a href="/u/logout/">
			Sign Out</a></li>

		{% else %}

		<li><a href="/u/login/">
			Log In</a></li>

		<li><a href="/u/signup/">
			Sign Up</a></li>

		{% endif %}

	</ul>

{% endblock footer %}

</html>