{% load staticfiles %}

<html>

<head>
<link rel="stylesheet" type="text/css" href="/static/base.css" media="screen" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> <!-- Prevents autozoom on mobile devices -->
</head>


<body>

<header class="title">
    <div>Profit</div>
    <div>The game where greed is good</div>
</header>

<div class="white-wrapper">

	{% if messages %}
	    {% for message in messages %}
	        <div {% if message.tags == "success" %} class="message" {% endif %} >{{ message }}</div>
	    {% endfor %}
	{% endif %}

	<nav class="content">
		{% if user.is_authenticated %}
		<a href="/u/{{ user.username }}/">
			<div class="login button">&#xe602;</div></a>
		{% else %}
		<a href="/u/login/">
			<div class="login button">&#xe603;</div></a>
		{% endif %}
	</nav>	
	
	<div class="content">
	    {% block content %}
	    No data to display !
	    {% endblock content %}
	    <div class="anchor"></div>
	</div>

</div> <!-- white-wrapper -->

</body>

<footer>

	{% if user.is_authenticated %}
	<a href="/u/logout/">
		Sign Out</a>
	{% endif %}

</footer>

</html>