{% load staticfiles %}

<html>

<head>
<link rel="stylesheet" type="text/css" href="/static/base.css" media="screen" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> <!-- Prevents autozoom on mobile devices -->
</head>


<body>

<header class="title">
    <div><a href="/">Profit</a></div>
    <div><a href="/">The game where greed is good</a></div>
</header>

<div class="white-wrapper">

	<nav class="content">

		{% if user.is_authenticated %}

			{% if user.is_staff %}
			<a href="/admin/">
				<div class="button">&#xe606;</div></a>
			{% endif %}

		<a href="/u/{{ user.username }}/">
			<div class="button">&#xe602;</div></a>

		{% else %}

		<a href="/u/login/">
			<div class="button">&#xe603;</div></a>

		{% endif %}
		
	</nav>

	{% if messages %}
	    {% for message in messages %}
	        <div {% if message.tags == "success" %} class="message" {% endif %} >{{ message }}</div>
	    {% endfor %}
	{% endif %}
	
	<div class="content">
	    {% block content %}
	    No data to display !
	    {% endblock content %}
	    <div class="anchor"></div>
	</div>

</div> <!-- white-wrapper -->

</body>

<footer>

	<ul>

		<li><a href="/">
			Home</a></li>

		{% if user.is_authenticated %}

		<li><a href="/u/logout/">
			Sign Out</a></li>

		{% else %}

		<li><a href="/u/login/">
			Log In</a></li>

		<li><a href="/u/signup/">
			Sign Up</a></li>

		{% endif %}

	</ul>

</footer>

</html>